<!doctype html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/animate.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

  <div id="site_header">

    <div id="logo-wrapper" class="header-wrapper">
      <h1>Matches</h1>
      <span>Tournament Software</span>
    </div>

    <div id="nav-wrapper" class="header-wrapper">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
      </ul>
    </div>

  </div>

  <div id="content">
  {{{body}}}
  </div>

</body>
</html>
