<div id="create-wrapper">
  <h1> Create A New Tournament </h1>
  <form type="post" >
    <table>
      <tr>
        <td><label for="name">Tournament Name:</label></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><label for="type">Type:</label></td>
        <td>
          <select>
            <option>Double Elimination</option>
            <option>Round Robin</option>
          </select>
        </td>
      </tr>
    </table>
    <button>Create</button>
  </form>
</div>
